<div class = "nav-bar"> 
	<ul>
		<li><div class = "nav-title"> Music for Inspiring Creators </div></li>
		<li><div class = "break"></div></li>
		<li><a href = "/feed">FEED</a></li>
		<li><a href = "/profile/{{username}}">PROFILE</a></li>
		<li><a href = "/tuner">TUNER</a></li>
		<li><a href = "/tabs">TABS</a></li>
		<li><a href = "/metronome">METRONOME</a></li>
		<li><div class = "break"></div></li>
		<li><div class = "acc-info">Logged in as: {{username}} </div></li>
	</ul>
</div>