<div class = "post">
	<div class = "post-content">
	<img src = "{{contentPath}}">
	</div>
	<div class = "post-user">
	{{postername}}
	</div>
	<div class = "divider"></div>
	<div class = "post-desc">
	{{description}}
	</div>
</div>
