<!DOCTYPE html>
<html>
<head>
	<title>Error Page</title>
	<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="../css/page.css">
	<link rel="stylesheet" href="../css/error.css">
</head>
<body>
	<div class="header"> 
		<img class="header-img" src="/images/logo.png">
	</div>
	<div class="login-block">
		<p class="login-text">{{adminmsg}}</p>
	</div>
	
	<a href = "/userlist"><button class = "userList"> User List </button></a>
	<a href = "/logrecords"><button class = "logRecords"> Log Records </button></a>
		
	<script>
	</script>
</body>
</html>