<!DOCTYPE html>
<html>
<head>
	<title> Music App </title>
	<link rel = "icon" href = "../images/favicon.ico" type = "image/x-icon"/>
	<link rel = "stylesheet" href = "../css/page.css">
	<link rel = "stylesheet" href = "../css/nav-bar.css">
	<link rel = "stylesheet" href = "../css/tabs.css">
</head>
<body>
    <div class = "nav-bar"> 
		<ul>
			<li><a href = "/"> Music for Inspiring Creators </a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/feed/{{username}}">FEED</a></li>
			<li><a href = "/profile/{{username}}">PROFILE</a></li>
			<li><a href = "/tuner">TUNER</a></li>
			<li><a href = "/tabs" class="active">TABS</a></li>
			<li><a href = "/metronome">METRONOME</a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/logout">Logged in as: {{username}}</a></li>
		</ul>
	</div>

	<div id = "header"> 
		<p class = "title">Cups Song</p>
		<p class = "instru">Ukulele Chords</p>
	</div>

	<div id = "tabs">
		<div class = "tab">
			<img src = "/images/ukuC.png">
		</div>
		<div class = "tab">
			<img src = "/images/ukuAm.png">
		</div> 
		<div class = "tab" id = "t3">
			<img src = "/images/ukuF.png">
		</div>
		<div class = "tab" id = "t4">
			<img src = "/images/ukuG.png">
		</div>
	</div>

	<div id = "tablature-line">
		<p><h2><span> Tablature </span></h2></p>
	</div>

	<div class = "song">
		<p><span class = "chunk" data-chord = "C"> I got my ticket for the long way ‘round </span></p>

		<p><span class = "chunk" data-chord = "Am"> Two bottle ‘a whiskey for the </span><span class = "chunk" data-chord = "C"> way </span></p>

		<p><span class = "chunk" data-chord = ""> And I sure </span><span class = "chunk" data-chord = "F"> would like some sweet </span><span class = "chunk" data-chord = "Am"> company </span></p>

		<p><span class = "chunk" data-chord = ""> and I'm leav</span><span class = "chunk" data-chord = "G">ing tomorrow, wha-do-ya </span><span class = "chunk" data-chord = "C"> say? </span></p>


		<p><span class = "chunk" data-chord = ""> When I’m </span><span class = "chunk" data-chord = "Am"> gone, when I’m gone </span></p>

		<p><span class = "chunk" data-chord = ""> you're </span><span class = "chunk" data-chord = "F"> gonna miss me when I’m </span><span class = "chunk" data-chord = "C"> gone </span></p>

		<p><span class = "chunk" data-chord = ""> You’re gonna miss me </span><span class = "chunk" data-chord = "Am"> by my hair </span></p>

		<p><span class = "chunk" data-chord = ""> You’re gonna miss me </span><span class = "chunk" data-chord = "F"> everywhere, oh </span></p>

		<p><span class = "chunk" data-chord = ""> you're </span><span class = "chunk" data-chord = "F"> gonna miss me when I’m </span><span class = "chunk" data-chord = "C"> gone </span></p>	


		<p><span class = "chunk" data-chord = "C"> I got my ticket for the long way ‘round </span></p>

		<p><span class = "chunk" data-chord = "Am"> the one with the prettiest of </span><span class = "chunk" data-chord = "C"> views </span></p>

		<p><span class = "chunk" data-chord = ""> It’s got </span><span class = "chunk" data-chord = "F"> mountains, it’s got </span><span class = "chunk" data-chord = "Am"> rivers, it’s got </span><span class = "chunk" data-chord = "C"> sights to give you shivers </span></p>

		<p><span class = "chunk" data-chord = ""> But it sure </span><span class = "chunk" data-chord = "G"> would be prettier with you </span><span class = "chunk" data-chord = "C"></span></p>


		<p><span class = "chunk" data-chord = ""> When I’m </span><span class = "chunk" data-chord = "Am"> gone, when I’m gone </span></p>

		<p><span class = "chunk" data-chord = ""> you're </span><span class = "chunk" data-chord = "F"> gonna miss me when I’m </span><span class = "chunk" data-chord = "C"> gone </span></p>

		<p><span class = "chunk" data-chord = ""> You’re gonna miss me </span><span class = "chunk" data-chord = "Am"> by my walk </span></p>

		<p><span class = "chunk" data-chord = ""> You’re gonna miss me </span><span class = "chunk" data-chord = "F"> talk, oh </span></p>

		<p><span class = "chunk" data-chord = ""> you're </span><span class = "chunk" data-chord = "F"> gonna miss me when I’m </span><span class = "chunk" data-chord = "C"> gone </span></p>	

	</div>
	
</body>
</html>