<!DOCTYPE html>
<html>
<head>
	<title>Error Page</title>
	<link rel="icon" href="../images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="../css/page.css">
	<link rel="stylesheet" href="../css/error.css">
</head>
<body>
	<div class="header"> 
		<img class="header-img" src="/images/logo.png">
	</div>
	<br>
	<span style="display: none; color: red;" id="same_Username">Username Already Exists</span>
	<span style="display: none; color: red;" id="wrong_Phonenumber">Invalid Phone Number</span>
 	<span style="display: none; color: red;" id="invalid_password">Password must be at least +8 characters and least one number and special character</span>
	<br>
	<div class="login-block">
		<p class="login-text">{{error}}</p>
		<form method="get" action="/back">
			<input type="submit" value="Go Back" onclick="hideSpans()">
		</form>
	</div>
	<script>
		function hideSpans() {
			document.getElementById('same_Username').style.display = 'none';
			document.getElementById('wrong_Phonenumber').style.display = 'none';
		}
		
		document.addEventListener('DOMContentLoaded', function() {
			// Check query parameters in the URL
			const params = new URLSearchParams(window.location.search);
			if (params.get('usernameExist') === 'true') {
				// Show the username exist span message
				document.getElementById('same_Username').style.display = 'block';
			}
			if (params.get('invalidPhoneNumber') === 'true') {
				// Show the invalid phone number span message
				document.getElementById('wrong_Phonenumber').style.display = 'block';
			}
			if (params.get('wrongPassword') === 'true') {
				// Show the username exist span message
				document.getElementById('invalid_password').style.display = 'block';
			}

		});
	</script>
</body>
</html>