<!DOCTYPE html>
<html>
<head>
	<title>mic index</title>
</head>
<body>
	<a href = "/login">LOG-IN PAGE</a>
	<a href = "/signup">SIGNUP</a>
	<a href = "/feed">FEED</a>
	<a href = "/metronome">METRONOME</a>
	<a href = "/profile/admin">PROFILE</a>
	<a href = "/tabs">TABS</a>
	<a href = "/tuner">TUNER</a>
	<a href = "/viewposts/admin">VIEW POSTS: ADMIN</a>
	<a href = "/changepass/admin">CHANGE PASSWORD</a>
	<a href = "/comment/10041">COMMENT</a>
	<a href = "/search">SEARCH</a>
	<a href = "/uploadPost">MAKE A POST</a>
</body>
</html>