<!DOCTYPE html>
<html>
<head>
	<title> Music App </title>
	<link rel = "icon" href = "../images/favicon.ico" type = "image/x-icon"/>
	<link rel = "stylesheet" href = "../css/page.css">
	<link rel = "stylesheet" href = "../css/nav-bar.css">
	<link rel = "stylesheet" href = "../css/tabs.css">
</head>
<body>
    <div class = "nav-bar"> 
		<ul>
			<li><a href = "/"> Music for Inspiring Creators </a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/feed/{{username}}">FEED</a></li>
			<li><a href = "/profile/{{username}}">PROFILE</a></li>
			<li><a href = "/tuner">TUNER</a></li>
			<li><a href = "/tabs" class="active">TABS</a></li>
			<li><a href = "/metronome">METRONOME</a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/logout">Logged in as: {{username}}</a></li>
		</ul>
	</div>

	<div id = "header"> 
		<p class = "title">Like Im Going To Lose You</p>
		<p class = "instru">Bass Chords</p>
	</div>

	<div id = "tabs">
		<div class = "tab">
			<img src = "/images/bassC.png">
		</div>
		<div class = "tab">
			<img src = "/images/bassEm.png">
		</div> 
		<div class = "tab" id = "t3">
			<img src = "/images/bassAm.png">
		</div>
		<div class = "tab" id = "t4">
			<img src = "/images/bassF.png">
		</div>
	</div>

	<div id = "tablature-line">
		<p><h2><span> Tablature </span></h2></p>
	</div>

	<div class = "song">
		<p class = "song-title"> key:</p>
		<p class = "song-text" style = "margin-top: -40px; margin-left: 40px; margin-bottom: 50px"> C</p>
		
		<p><span class = "chunk" data-chord = "C"> I found myself dreaming </span></p>

		<p><span class = "chunk" data-chord = "Em"> Of silver and gold </span></p>

		<p><span class = "chunk" data-chord = "Am"> Like a scene from movie </span></p>

		<p><span class = "chunk" data-chord = ""> That every </span><span class = "chunk" data-chord = "F"> broken heart knows </span></p>

		<p><span class = "chunk" data-chord = "C"> We were walking on moonlight </span></p>

		<p><span class = "chunk" data-chord = "Em"> When you held me close </span></p>

		<p><span class = "chunk" data-chord = "Am"> Split second and you disappeared </span></p>

		<p><span class = "chunk" data-chord = ""> And then </span><span class = "chunk" data-chord = "F"> I was all </span><span class = "chunk" data-chord = "C"> Alone </span></p>

		<p><span class = "chunk" data-chord = ""> I </span><span class = "chunk" data-chord = "Am"> woke up in tears with </span><span class = "chunk" data-chord = "C"> you by my side </span></p>

		<p><span class = "chunk" data-chord = "Am"> Breathe of relief and </span><span class = "chunk" data-chord = "G"> I realized </span></p>

		<p><span class = "chunk" data-chord = "Am"> No, we're </span><span class = "chunk" data-chord = "F"> not promised </span><span class = "chunk" data-chord = "C"> tomorrow </span></p>

		
		<p class = "song-title"> chorus:</p>
		<p><span class = "chunk" data-chord = ""> ---------</span><span class = "chunk" data-chord = "">----------------------------------------------------------------------------</span></p>
		
		<p><span class = "chunk" data-chord = ""> So I'm gonna </span><span class = "chunk" data-chord = "C"> love you like I'm gonna </span><span class = "chunk" data-chord = "G"> lose you </span></p>

		<p><span class = "chunk" data-chord = ""> I'm gonna </span><span class = "chunk" data-chord = "Am"> hold you, like I'm saying </span><span class = "chunk" data-chord = "F"> goodbye </span></p>

		<p><span class = "chunk" data-chord = ""> Wherever we're </span><span class = "chunk" data-chord = "C"> standing, I won't take you for </span><span class = "chunk" data-chord = "G"> granted </span></p>

		<p><span class = "chunk" data-chord = ""> Cause we'll never </span><span class = "chunk" data-chord = "Am"> know when, When we'll run out of </span><span class = "chunk" data-chord = "F"> time </span></p>

		<p><span class = "chunk" data-chord = ""> So I'm gonna </span><span class = "chunk" data-chord = "C"> love you like I'm gonna </span><span class = "chunk" data-chord = "G"> lose you </span></p>

		<p><span class = "chunk" data-chord = ""> So I'm gonna </span><span class = "chunk" data-chord = "Am"> love you like I'm gonna </span><span class = "chunk" data-chord = "F"> lose you </span><span class = "chunk" data-chord = "C"> </span></p>
		<p><span class = "chunk" data-chord = ""> ---------</span><span class = "chunk" data-chord = "">----------------------------------------------------------------------------</span></p>
		
		
		<p><span class = "chunk" data-chord = "C"> In the blink of an eye </span></p>

		<p><span class = "chunk" data-chord = "Em"> Just a whisper of smoke </span></p>

		<p><span class = "chunk" data-chord = "Am"> You could lose everything </span></p>

		<p><span class = "chunk" data-chord = ""> The </span><span class = "chunk" data-chord = "F"> truth is you never know </span></p>

		<p><span class = "chunk" data-chord = "C"> So I'll kiss you longer baby </span></p>

		<p><span class = "chunk" data-chord = ""> Any </span><span class = "chunk" data-chord = "Em"> chance that I get </span></p>

		<p><span class = "chunk" data-chord = ""> And I'll make </span><span class = "chunk" data-chord = "Am"> the most of the minutes </span></p>

		<p><span class = "chunk" data-chord = ""> And </span><span class = "chunk" data-chord = "F"> love with no regret </span><span class = "chunk" data-chord = "C">  </span></p>

		<p><span class = "chunk" data-chord = ""> So </span><span class = "chunk" data-chord = "Am"> let's take the time to </span><span class = "chunk" data-chord = "C"> say what we want </span></p>

		<p><span class = "chunk" data-chord = "Am"> Use what we got </span><span class = "chunk" data-chord = "G"> before it's all gone </span></p>

		<p><span class = "chunk" data-chord = "Am"> No, we're </span><span class = "chunk" data-chord = "F"> not promised </span><span class = "chunk" data-chord = "C"> tomorrow </span></p>

		<p class = "song-title"> chorus:</p>
		<p><span class = "chunk" data-chord = ""> ---------</span><span class = "chunk" data-chord = "">----------------------------------------------------------------------------</span></p>
		
		<p><span class = "chunk" data-chord = ""> So I'm gonna </span><span class = "chunk" data-chord = "C"> love you like I'm gonna </span><span class = "chunk" data-chord = "G"> lose you </span></p>

		<p><span class = "chunk" data-chord = ""> I'm gonna </span><span class = "chunk" data-chord = "Am"> hold you, like I'm saying </span><span class = "chunk" data-chord = "F"> goodbye </span></p>

		<p><span class = "chunk" data-chord = ""> Wherever we're </span><span class = "chunk" data-chord = "C"> standing, I won't take you for </span><span class = "chunk" data-chord = "G"> granted </span></p>

		<p><span class = "chunk" data-chord = ""> Cause we'll never </span><span class = "chunk" data-chord = "Am"> know when, When we'll run out of </span><span class = "chunk" data-chord = "F"> time </span></p>

		<p><span class = "chunk" data-chord = ""> So I'm gonna </span><span class = "chunk" data-chord = "C"> love you like I'm gonna </span><span class = "chunk" data-chord = "G"> lose you </span></p>

		<p><span class = "chunk" data-chord = ""> So I'm gonna </span><span class = "chunk" data-chord = "Am"> love you like I'm gonna </span><span class = "chunk" data-chord = "F"> lose you </span><span class = "chunk" data-chord = "C"> </span></p>
		<p><span class = "chunk" data-chord = ""> ---------</span><span class = "chunk" data-chord = "">----------------------------------------------------------------------------</span></p>
		
	</div>
	
</body>
</html>