<!DOCTYPE html>
<html>
<head>
	<title> Music App </title>
	<link rel = "icon" href = "../images/favicon.ico" type = "image/x-icon"/>
	<link rel = "stylesheet" href = "../css/page.css">
	<link rel = "stylesheet" href = "../css/nav-bar.css">
	<link rel = "stylesheet" href = "../css/tabs.css">
</head>
<body>
    <div class = "nav-bar"> 
		<ul>
			<li><a href = "/"> Music for Inspiring Creators </a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/feed/{{username}}">FEED</a></li>
			<li><a href = "/profile/{{username}}">PROFILE</a></li>
			<li><a href = "/tuner">TUNER</a></li>
			<li><a href = "/tabs" class="active">TABS</a></li>
			<li><a href = "/metronome">METRONOME</a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/logout">Logged in as: {{username}}</a></li>
		</ul>
	</div>

	<div id = "header"> 
		<p class = "title">Riptide</p>
		<p class = "instru">Ukulele Chords</p>
	</div>

	<div id = "tabs">
		<div class = "tab">
			<img src = "/images/ukuAm.png">
		</div>
		<div class = "tab">
			<img src = "/images/ukuG.png">
		</div> 
		<div class = "tab" id = "t3">
			<img src = "/images/ukuC.png">
		</div>
		<div class = "tab" id = "t3">
			<img src = "/images/ukuF.png">
		</div>
	</div>

	<div id = "tablature-line">
		<p><h2><span> Tablature </span></h2></p>
	</div>

	<div class = "song">
		<p class = "song-title">Intro:</p>
		<p class = "song-text" style = "margin-top: -40px; margin-left: 40px; margin-bottom: 50px">|Am &nbsp;  |G &nbsp;  |C &nbsp; |C &nbsp; |  (2x)</p>
		<p><span class = "chunk" data-chord = "Am"> I was scared of </span><span class = "chunk" data-chord = "G"> dentist and the </span><span class = "chunk" data-chord = "C"> dark, </span></p>

		<p><span class = "chunk" data-chord = "Am"> I was scared of </span><span class = "chunk" data-chord = "G"> pretty girls and </span><span class = "chunk" data-chord = "C"> starting conversations, </span></p>

		<p><span class = "chunk" data-chord = "Am"> Oh all my  </span><span class = "chunk" data-chord = "G"> friends are turning green, </span><span class = "chunk" data-chord = "C">        </span></p>

		<p><span class = "chunk" data-chord = "Am"> You're the magicians </span><span class = "chunk" data-chord = "G"> assistant in their </span><span class = "chunk" data-chord = "C"> dreams. </span></p>


		<p><span class = "chunk" data-chord = "Am"> Oooh, </span><span class = "chunk" data-chord = "G"> ooooh </span><span class = "chunk" data-chord = "C">        </span></p>

		<p><span class = "chunk" data-chord = "Am  &nbsp; G"> Oooh, and they </span><span class = "chunk" data-chord = "C &nbsp;&nbsp; (hold)"> come unstuck </span></p>

		
		<p><span class = "chunk" data-chord = "Am"> Lady, </span><span class = "chunk" data-chord = "G"> running down to the </span><span class = "chunk" data-chord = "C"> riptide, </span></p>

		<p><span class = "chunk" data-chord = "C"> taken away to the </span><span class = "chunk" data-chord = "Am"> dark side, </span></p>

		<p><span class = "chunk" data-chord = "G"> I wanna be your </span><span class = "chunk" data-chord = "C"> left hand man. </span></p>

		<p><span class = "chunk" data-chord = "Am"> I love you </span><span class = "chunk" data-chord = "G"> when your singing that </span><span class = "chunk" data-chord = "C"> song and, </span></p>

		<p><span class = "chunk" data-chord = "C"> I got a lump in my </span><span class = "chunk" data-chord = "Am"> throat 'cause </span></p>

		<p><span class = "chunk" data-chord = "G"> you're gonna sing the </span><span class = "chunk" data-chord = "C"> words wrong </span></p>

		
		<p><span class = "chunk" data-chord = "Am"> There's this movie </span><span class = "chunk" data-chord = "G"> that I think you'll </span><span class = "chunk" data-chord = "C"> like, </span></p>

		<p><span class = "chunk" data-chord = "Am"> This guy decides to </span><span class = "chunk" data-chord = "G"> quit his job and </span><span class = "chunk" data-chord = "C"> head to New York City, </span></p>

		<p><span class = "chunk" data-chord = "Am"> This cowboy's </span><span class = "chunk" data-chord = "G"> running from </span><span class = "chunk" data-chord = "C"> himself </span></p>

		<p><span class = "chunk" data-chord = "Am"> She's been living </span><span class = "chunk" data-chord = "G"> on the highest </span><span class = "chunk" data-chord = "C"> shelf. </span></p>


		<p><span class = "chunk" data-chord = "Am"> Oooh, </span><span class = "chunk" data-chord = "G"> ooooh </span><span class = "chunk" data-chord = "C">        </span></p>

		<p><span class = "chunk" data-chord = "Am  &nbsp; G"> Oooh, and they </span><span class = "chunk" data-chord = "C &nbsp;&nbsp; (hold)"> come unstuck </span></p>

		
		<p><span class = "chunk" data-chord = "Am"> Lady, </span><span class = "chunk" data-chord = "G"> running down to the </span><span class = "chunk" data-chord = "C"> riptide, </span></p>

		<p><span class = "chunk" data-chord = "C"> taken away to the </span><span class = "chunk" data-chord = "Am"> dark side, </span></p>

		<p><span class = "chunk" data-chord = "G"> I wanna be your </span><span class = "chunk" data-chord = "C"> left hand man. </span></p>

		<p><span class = "chunk" data-chord = "Am"> I love you </span><span class = "chunk" data-chord = "G"> when your singing that </span><span class = "chunk" data-chord = "C"> song and, </span></p>

		<p><span class = "chunk" data-chord = "C"> I got a lump in my </span><span class = "chunk" data-chord = "Am"> throat 'cause </span></p>

		<p><span class = "chunk" data-chord = "G"> you're gonna sing the </span><span class = "chunk" data-chord = "C"> words wrong </span></p>

		
		<p><span class = "chunk" data-chord = "Am"> I just wanna, I just wanna know, </span><span class = "chunk" data-chord = "G">    </span></p>

		<p><span class = "chunk" data-chord = "C"> If you're gonna, if you're gonna </span><span class = "chunk" data-chord = "F"> stay </span></p>

		<p><span class = "chunk" data-chord = "Am"> I just wanna, I just wanna know, </span><span class = "chunk" data-chord = "G">    </span></p>

		<p><span class = "chunk" data-chord = "C"> I can't have it, I can't have it in </span><span class = "chunk" data-chord = "F    (hold)"> any other way </span></p>	

		<p><span class = "chunk" data-chord = "(strum"> ---------</span><span class = "chunk" data-chord = "once)">----------------------------------------------------------------------------</span></p>

		
		<p><span class = "chunk" data-chord = "Am"> I swear she's </span><span class = "chunk" data-chord = "G"> destined for the </span><span class = "chunk" data-chord = "C"> screen, </span></p>

		<p><span class = "chunk" data-chord = "Am"> Closest thing to </span><span class = "chunk" data-chord = "G"> Michelle Phipher </span><span class = "chunk" data-chord = "C"> that you've ever seen, oh</span></p>

		<p><span class = "chunk" data-chord = ""> ---------</span><span class = "chunk" data-chord = "">----------------------------------------------------------------------------</span></p>

		<p><span class = "chunk" data-chord = "Am"> Lady, </span><span class = "chunk" data-chord = "G"> running down to the </span><span class = "chunk" data-chord = "C"> riptide, </span></p>

		<p><span class = "chunk" data-chord = "C"> taken away to the </span><span class = "chunk" data-chord = "Am"> dark side, </span></p>

		<p><span class = "chunk" data-chord = "G"> I wanna be your </span><span class = "chunk" data-chord = "C"> left hand man. </span></p>

		<p><span class = "chunk" data-chord = "Am"> I love you </span><span class = "chunk" data-chord = "G"> when your singing that </span><span class = "chunk" data-chord = "C"> song and, </span></p>

		<p><span class = "chunk" data-chord = "C"> I got a lump in my </span><span class = "chunk" data-chord = "Am"> throat 'cause </span></p>

		<p><span class = "chunk" data-chord = "G"> you're gonna sing the </span><span class = "chunk" data-chord = "C"> words wrong </span></p>

		
		<p><span class = "chunk" data-chord = "Am"> Lady, </span><span class = "chunk" data-chord = "G"> running down to the </span><span class = "chunk" data-chord = "C"> riptide, </span></p>

		<p><span class = "chunk" data-chord = "C"> taken away to the </span><span class = "chunk" data-chord = "Am"> dark side, </span></p>

		<p><span class = "chunk" data-chord = "G"> I wanna be your </span><span class = "chunk" data-chord = "C"> left hand man. </span></p>

		<p><span class = "chunk" data-chord = "Am"> I love you </span><span class = "chunk" data-chord = "G"> when your singing that </span><span class = "chunk" data-chord = "C"> song and, </span></p>

		<p><span class = "chunk" data-chord = "C"> I got a lump in my </span><span class = "chunk" data-chord = "Am"> throat 'cause </span></p>

		<p><span class = "chunk" data-chord = "G"> you're gonna sing the </span><span class = "chunk" data-chord = "C"> words wrong </span></p>

		<p><span class = "chunk" data-chord = "C"> I got a lump in my </span><span class = "chunk" data-chord = "Am"> throat 'cause </span><span class = "chunk" data-chord = "G"> you're gonna sing the words </span><span class = "chunk" data-chord = "C"> wrong. </span></p>
	</div>
	
</body>
</html>