<!DOCTYPE html>
<html>
<head>
	<title> Music App </title>
	<link rel = "icon" href = "../images/favicon.ico" type = "image/x-icon"/>
	<link rel = "stylesheet" href = "../css/page.css">
	<link rel = "stylesheet" href = "../css/nav-bar.css">
	<link rel = "stylesheet" href = "../css/tabs.css">
</head>
<body>
    <div class = "nav-bar"> 
		<ul>
			<li><a href = "/"> Music for Inspiring Creators </a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/feed/{{username}}">FEED</a></li>
			<li><a href = "/profile/{{username}}">PROFILE</a></li>
			<li><a href = "/tuner">TUNER</a></li>
			<li><a href = "/tabs" class="active">TABS</a></li>
			<li><a href = "/metronome">METRONOME</a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/logout">Logged in as: {{username}}</a></li>
		</ul>
	</div>

	<div id = "header"> 
		<p class = "title">Seven Nation Army</p>
		<p class = "instru">Bass Tab</p>
	</div>

	<div id = "tablature-line">
		<p><h2><span> Tablature </span></h2></p>
	</div>

	<div class = "song">

		<p class = "song-title"> Verse </p>
		
		<p><span class = "chunk" data-chord = "G"> - - - - - - - - - - - - - - - - - - - </span></p>

		<p><span class = "chunk" data-chord = "D"> - - - - - - - 5 - - - - - - - - - - -  </span></p>

		<p><span class = "chunk" data-chord = "A"> - 7 - - 7 - - - 7 - -  5	- - - - - - </span></p>

		<p><span class = "chunk" data-chord = "E"> - - - - - - - - - - - - - - 8 - - 7   </span></p>

		<p class = "song-title"> Chorus </p>
		
		<p><span class = "chunk" data-chord = "G"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</span></p>

		<p><span class = "chunk" data-chord = "D"> - - - - - - - 5 - - - - - - - - - - - - - - - - 5 - - - - - - - - - - - - -</span></p>

		<p><span class = "chunk" data-chord = "A"> - 7 - - 7 - - - - 7 - - 5 - - - - - - - 7 - - 7 - - 7 - - 5 - - 5 - - -</span></p>

		<p><span class = "chunk" data-chord = "E"> - - - - - - - - - - - - - - 8 - - 7 - - - - - - - - - - - - 8 - - - 8 - 7 </span></p>

		<p class = "song-title"> Bridge </p>
		
		<p><span class = "chunk" data-chord = "G"> - - - - - - - - - - - - - - - - - - - - - - - - </span></p>

		<p><span class = "chunk" data-chord = "D"> - - - - - - - - - - - - - - - - - - - - - - - - </span></p>

		<p><span class = "chunk" data-chord = "A"> - - - - - - - - - - - - - - - - - - - - - - - - </span></p>

		<p><span class = "chunk" data-chord = "E"> - - 3 3 3 3 3 3 3 3 3 5 5 5 5 5 5 5 5 </span></p>

		

	
	</div>
	
</body>
</html>