<!DOCTYPE html>
<html>
<head>
	<title> Music App </title>
	<link rel = "icon" href = "../images/favicon.ico" type = "image/x-icon"/>
	<link rel = "stylesheet" href = "../css/page.css">
	<link rel = "stylesheet" href = "../css/login.css">
</head>
<body>
	<div class = "header"> 
		<img class = "header-img" src="images/logo.png">
	</div>
	<div class = "login-block">
		<form class = "login" method = "get" action = "/login">
			<p class = "login-text"> Register Success as: {{username}} </p>
			<input type="submit" class = "submit" id="submit" value = "Login">
		</form>
	</div>
</body>
</html>