<!DOCTYPE html>
<html>
<head>
	<title> Music App </title>
	<link rel = "icon" href = "../images/favicon.ico" type = "image/x-icon"/>
	<link rel = "stylesheet" href = "../css/page.css">
	<link rel = "stylesheet" href = "../css/nav-bar.css">
	<link rel = "stylesheet" href = "../css/tabs.css">
</head>
<body>
    <div class = "nav-bar"> 
		<ul>
			<li><a href = "/"> Music for Inspiring Creators </a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/feed/{{username}}">FEED</a></li>
			<li><a href = "/profile/{{username}}">PROFILE</a></li>
			<li><a href = "/tuner">TUNER</a></li>
			<li><a href = "/tabs" class="active">TABS</a></li>
			<li><a href = "/metronome">METRONOME</a></li>
			<li><div class = "break"></div></li>
			<li><a href = "/logout">Logged in as: {{username}}</a></li>
		</ul>
	</div>

	<div id = "header"> 
		<p class = "title">Somewhere Over The Rainbow</p>
		<p class = "instru">Ukulele Chords</p>
	</div>

	<div id = "tabs">
		<div class = "tab">
			<img src = "/images/ukuC.png">
		</div>
		<div class = "tab">
			<img src = "/images/ukuG.png">
		</div> 
		<div class = "tab" id = "t3">
			<img src = "/images/ukuAm.png">
		</div>
		<div class = "tab" id = "t4">
			<img src = "/images/ukuF.png">
		</div> 
		<div class = "tab" id = "t5">
			<img src = "/images/ukuEm.png">
		</div> 
	</div>

	<div id = "tablature-line">
		<p><h2><span> Tablature </span></h2></p>
	</div>

	<div class = "song">
		<p class = "song-title">Intro:</p>
		<p class = "song-text" style = "margin-top: -40px; margin-left: 40px; margin-bottom: 50px">|C &nbsp;G &nbsp;|Am &nbsp;F &nbsp;|C &nbsp;G &nbsp;|Am &nbsp;|F &nbsp;|</p>
		<p><span class = "chunk" data-chord = "C"> Somewhere </span><span class = "chunk" data-chord = "Em"> over the rainbow, </span><span class = "chunk" data-chord = "F"> Way up </span><span class = "chunk" data-chord = "C"> high </span></p>

		<p><span class = "chunk" data-chord = "F"> And the </span><span class = "chunk" data-chord = "C"> dreams that you dreamed of </span><span class = "chunk" data-chord = "G"> Once in a </span><span class = "chunk" data-chord = "C"> Somewhere </span><span class = "chunk" data-chord = "Am &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; F"> lullaby </span></p>

		<p><span class = "chunk" data-chord = "C"> Somewhere </span><span class = "chunk" data-chord = "Em"> over the rainbow, </span><span class = "chunk" data-chord = "F"> Blue birds </span><span class = "chunk" data-chord = "C"> fly </span></p>

		<p><span class = "chunk" data-chord = "F"> And the </span><span class = "chunk" data-chord = "Em"> dreams that you dreamed of </span><span class = "chunk" data-chord = "G"> Dreams really </span><span class = "chunk" data-chord = "Am &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; F"> do come true </span></p>

		<p><span class = "chunk" data-chord = "C"> Someday I'll wish upon a star, </span><span class = "chunk" data-chord = "Em"> Wake up where the clouds are far </span><span class = "chunk" data-chord = "Am &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; F"> behind me </span></p>

		<p><span class = "chunk" data-chord = "C"> Where trouble melts like lemon drops, </span><span class = "chunk" data-chord = "Em"> High above the chimney tops is  </span><span class = "chunk" data-chord = "Am"> where you'll </span><span class = "chunk" data-chord = "F"> find me </span></p>

		<p><span class = "chunk" data-chord = "C"> Somewhere </span><span class = "chunk" data-chord = "Em"> over the rainbow, </span><span class = "chunk" data-chord = "F"> Blue birds </span><span class = "chunk" data-chord = "C"> fly </span></p>

		<p><span class = "chunk" data-chord = "F"> And the </span><span class = "chunk" data-chord = "C"> dreams that you dare to </span><span class = "chunk" data-chord = "G"> Oh why, oh why </span><span class = "chunk" data-chord = "Am &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F"> can't I? </span></p>

		<p><span class = "chunk" data-chord = "C"> Someday I'll wish upon a star, </span><span class = "chunk" data-chord = "Em"> Wake up where the clouds are far </span><span class = "chunk" data-chord = "Am &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; F"> behind me </span></p>

		<p><span class = "chunk" data-chord = "C"> Where trouble melts like lemon drops, </span><span class = "chunk" data-chord = "Em"> High above the chimney tops is  </span><span class = "chunk" data-chord = "Am"> where you'll </span><span class = "chunk" data-chord = "F"> find me </span></p>

		<p><span class = "chunk" data-chord = "C"> Somewhere </span><span class = "chunk" data-chord = "Em"> over the rainbow, </span><span class = "chunk" data-chord = "F"> Blue birds </span><span class = "chunk" data-chord = "C"> fly </span></p>

		<p><span class = "chunk" data-chord = "F"> And the </span><span class = "chunk" data-chord = "C"> dreams that you dare to </span><span class = "chunk" data-chord = "G"> Oh why, oh why </span><span class = "chunk" data-chord = "Am &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F"> can't I? </span></p>
	</div>
	
</body>
</html>